{% extends 'base.html' %}
{% block versao %}
Testes
{% endblock versao %}
{% block conteudo %}

<style>
    .teste{
        display: grid;
        grid: 18rem / auto auto auto auto;
        grid-gap: 10px;
    }
    .card{
        display: block !important;
        width: 18rem;
    }
</style>
{% if request.endpoint == 'main_bp.testes' %}

<div class="teste">
    {% for plant in rows %}
    <div class="card">
        <img src="{{ url_for('main_bp.proxy_image', img_link=plant['img_link']) }}" alt="Imagem" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">{{plant['name']}}</h3>
          <p class="card-text">{{plant['type']}}</p>
          <p class="card-text">{{plant['plant_origin']}}</p>
          <p class="card-text">{{plant['origin']}}</p>
          <p class="card-text">{{plant['classification']}}</p>
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
    {{ plant }}
    <img src="{{ url_for('main_bp.proxy_image', img_link=plant['img_link']) }}" alt="Imagem" class="card-img-top">
{% endif %}

{% endblock conteudo %}